name: Test-Workflow

on:
  push:
    branches: ["master"]

  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest app/test-cases -v

  deploy-stagging:
    needs: test
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/master'

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Deploy to Staging via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: ${{ secrets.STAGING_USER }}
          key: ${{ secrets.STAGING_SSH_KEY }}
          script: |
            cd ${{ secrets.STAGING_APP_DIR }}
            cd test-application
            git pull origin master
            sudo systemctl restart test-application


      
    
  
  